<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>


<div class="content">

    <div class="panel-grid">
        <section id="panel" class="panel-layout">

            <div id="widget1" class="widget widget-medium">
                <div class="header-widget">
                    <div class="titulo-widget">Positivação por representada</div>
                    <div class="opcoes-widget">Abril de 2019</div>
                </div>
                <div id="container1"></div>

            </div>


            <div id="widget3" class="widget widget-medium">
                <div class="header-widget">
                    <div class="titulo-widget">Vendas por representada</div>
                    <div class="opcoes-widget">Abril de 2019</div>
                </div>
                <div id="container3"></div>

            </div>



        </section>
    </div>

</div>